body {
    background-color: #0A0A0F;
    overflow-x: hidden;
    transition: 0.3s;
}

.vanya {
    position: relative;
    color: #FFFFFF;
    left: 150px;
    top: 55px;
}

.link {
    position: relative;
    background-color: #161B22;
    width: 415px;
    height: 35px;
    border-radius: 15px;
    left: 1350px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    transition: 0.3s;
    color: grey;
}

a:active {
    transition: 0.3s;
    color: #FFFFFF;
}

.skills {
    position: relative;
    top: 7.5px;
    left: 265px;
}

.about-me {
    position: relative;
    top: 7.5px;
    left: 250px;
}

.home {
    position: relative;
    top: 7.5px;
    left: 97px;
}

.btn-theme {
    position: relative;
    border: none;
    background-color: #161B22;
    cursor: pointer;
    top: 7.5px;
    left: 35px;
}

.btn-new {
    position: relative;
    border: none;
    background-color: #161B22;
    cursor: pointer;
    top: 6px;
    left: 80px;
}

.btn-home {
    position: relative;
    background-color: #161B22;
    border: none;
    width: 100px;
    height: 35px;
    top: 210px;
    left: 912.5px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}

.poloska {
    position: relative;
    background-color: #161B22;
    top: 125px;
    left: 250px;
    width: 1400px;
    height: 5px;
    border-radius: 15px;
}
