body {
    background-color: #0A0A0F;
    overflow-x: none;
}

h1 {
    color: #FFFFFF;
}

.link {
    position: relative;
    background-color: #161B22;
    width: 300px;
    height: 35px;
    border-radius: 15px;
    left: 1450px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.projects {
    position: relative;
    left: 30px;
    top: 7.5px;
}

.skills {
    position: relative;
    left: 82.5px;
    top: 7.5px;
}

.about-me {
    position: relative;
    left: 82.5px;
    top: 7.5px;
}


@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
}
