body {
    background-color: #0A0A0F;
    overflow-x: hidden;
}

.vanya {
    position: relative;
    color: #FFFFFF;
    left: 150px;
    top: 55px;
}

.link {
    position: relative;
    background-color: #161B22;
    width: 320px;
    height: 35px;
    border-radius: 15px;
    left: 1450px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.projects {
    position: relative;
    left: 30px;
    top: 7.5px;
}

.skills {
    position: relative;
    left: 82.5px;
    top: 7.5px;
}

.about-me {
    position: relative;
    left: 130px;
    top: 7.5px;
}

.vanya {
    position: relative;
    color: #FFFFFF;
    left: 150px;
    top: 55px;
}

.about {
    position: relative;
    color: #FFFFFF;
    left: 45%;
    top: 55px;
}

.div-about {
    position: relative;
    background-color: #161B22;
    top: 50px;
    left: 10%;
    width: 1500px;
    height: 280px;
    border-radius: 15px;
}

.hi {
    position: relative;
    color: #FFFFFF;
    top: 10px;
    left: 710px;
}

.my-name {
    position: relative;
    color: #FFFFFF;
    top: 10px;
    left: 500px;
}

.job {
    position: relative;
    color: #FFFFFF;
    top: 10px;
    left: 352.5px;
}

.i-love {
    position: relative;
    color: #FFFFFF;
    top: 10px;
    left: 440px;
}

.forever-young {
    position: relative;
    color: #FFFFFF;
    opacity: 3%;
    top: 5px;
    left: 670px;
}

.h1-about {
    color: #FFFFFF;
    font-size: 30px;
}



@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }

  .vanya {
    position: relative;
    top: 1px;
    left: 5px;
  }
}
